
<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
  <%- include("../menu"); %>
  <form id=createForm>
  <!-- Material input -->
<div class="md-form">
  <input
  type="text"
  id="title"
  class="form-control"
  required
  autocomplete="off"
  >
  <label for="title" style="color: blue">방 제목 입력</label>
</div>

<button type="submit" class="btn btn-primary">개설</button>
</form>
  <%- include("../footer"); %>
  <script>
      $(function() {
          $("#createForm").submit((event) => {
              event.preventDefault();
              // 등록
              const title = $("#title").val();

          $.ajax({
              url: "/api/lobby",
              type: "POST",
              data: { title },
          }).done((req) => {
              location.href = "/api/lobby/" + req._id
          }).fail((request, status, error) => {
              alert(request.responseText);
          });
          
      });
    });
  </script>
</body>
</html>
